.DS_Store
.idea/
.vscode/

.env

vendor/
composer.lock

web/typo3temp/
web/fileadmin/_processed_/
web/uploads/
web/var/


typo3conf/LocalConfiguration.php
typo3conf/AdditionalConfiguration.php
config/system/settings.php

docker/db_data/
