# --------------------------------------------------
# OS / IDE
# --------------------------------------------------
.DS_Store
.idea/
.vscode/

# --------------------------------------------------
# Environment
# --------------------------------------------------
.env

# --------------------------------------------------
# Composer
# --------------------------------------------------
/vendor/

# --------------------------------------------------
# TYPO3 runtime (generated)
# --------------------------------------------------
var/
var/cache/*
var/log/*
var/session/*
var/lock/*

!/var/.htaccess

/web/typo3temp/*
/web/uploads/*
/web/FIRST_INSTALL

/web/fileadmin/*
!/web/fileadmin/.htaccess
/web/fileadmin/_processed_/

/web/_assets/

# --------------------------------------------------
# TYPO3 configuration (local / generated)
# --------------------------------------------------
/typo3conf/LocalConfiguration.php
/typo3conf/AdditionalConfiguration.php
/config/system/settings.php

# --------------------------------------------------
# Logs
# --------------------------------------------------
*.log
# --------------------------------------------------
# Docker
# --------------------------------------------------
/docker/db_data/
